.d0{
	margin-left: 250px;
	width: 50%;
	height: 30px;
	border: 1px solid red;
}
.d1{
	background: red;
	width: 0%;
	height: 30px;
	transition: all 4s steps(5, start)

 }
.d0:hover div{ 
	width: 100%; 
}


