div{
	background: white;
	border: 1px solid red;
    transition: width;
    width: 30%;
	height: 30px;
	margin-bottom: 10px;
    transition: all 1s ease-out;
}

div:last-child{
	margin-bottom: 0;
}

div:hover + div{ 
	width: 100%;
}
